In [1]:
import pandas as pd
import numpy as np

In [9]:
dataset=pd.read_csv("FoodandCalories.csv")

In [10]:
dataset.columns

Index(['Food', 'Serving', 'Calories'], dtype='object')

In [11]:
x=dataset[['Food', 'Serving']]

In [12]:
x

                         Food              Serving
0                   Artichoke  1 artichoke (128 g)
1                     Arugula         1 leaf (2 g)
2                   Asparagus       1 spear (12 g)
3                   Aubergine  1 aubergine (458 g)
4                    Beetroot        1 beet (82 g)
..                        ...                  ...
557  Wendy’s Jr. Cheeseburger     1 burger (129 g)
558  Wendy’s Son of Baconator     1 burger (218 g)
559                   Whopper     1 burger (291 g)
560                    Zinger   1 sandwich (202 g)
561             Zinger Burger   1 sandwich (202 g)

[562 rows x 2 columns]

In [20]:
from sklearn.preprocessing  import LabelEncoder

In [21]:
food_label=LabelEncoder()

In [22]:
food=x['Food']

In [23]:
serving=x['Serving']

In [24]:
food_labeled=food_label.fit_transform(food)

In [26]:
food_labeled

array([ 14,  15,  17,  18,  41,  42,  47,  56,  60,  76,  85,  86,  91,
        92,  94, 100, 123, 126, 127, 137, 139, 148, 159, 162, 185, 187,
       192, 211, 212, 218, 222, 223, 224, 238, 250, 254, 255, 260, 263,
       319, 321, 330, 333, 335, 336, 350, 358, 362, 383, 391, 397, 403,
       414, 430, 456, 463, 475, 484, 496, 497, 513, 532, 537,   0,   5,
         6,   7,  19,  30,  50,  51,  52,  80,  99, 132, 151, 164, 165,
       169, 194, 208, 221, 225, 230, 247, 249, 253, 261, 264, 270, 281,
       282, 312, 316, 326, 335, 339, 348, 351, 353, 356, 364, 366, 368,
       376, 377, 379, 395, 398, 399, 401, 406, 465, 466, 478, 480, 514,
        27,  28,  29,  24,  40,  46,  48,  49,  25,  59,  73,  74, 539,
       104, 106, 108, 112, 115, 119, 124, 125, 133, 137, 140, 143, 146,
       167, 171, 172, 175, 186, 188, 197, 205, 206, 226, 232, 241, 248,
       252, 258, 271, 273, 288, 302, 305, 323, 340, 344, 345, 349, 352,
       354, 359, 365, 370, 382, 384, 390, 400, 402, 405, 409, 410, 420,
       423, 424, 433, 436, 439, 440, 451, 461, 462, 476, 479, 533,   4,
        31,  32,  59,  61,  62, 142, 144, 145, 149, 150, 182, 198, 201,
       214, 229, 251, 307, 308, 309, 331, 357, 378, 387, 388, 396, 413,
       415, 417, 425, 435, 452, 453, 454, 474, 489, 490, 520, 521, 523,
       524, 525, 529, 530,   2,   8,  13,  20,  26,  79, 134, 141, 147,
       199, 219, 235, 266, 306, 322, 332, 334, 346, 347, 355, 381, 392,
       407, 416, 419, 429, 431, 448, 473, 486, 502, 512, 522,   3,  35,
        36,  37,  39,  53,  57,  58,  77,  87,  88, 101, 103, 107, 110,
       117, 120, 122, 152, 153, 154, 155, 156, 157, 158, 160, 203, 216,
       217, 245, 262, 267, 304, 310, 318, 329, 338, 343, 352, 385, 393,
       400, 427, 471, 482, 485, 487, 500, 501, 504, 505, 515,  33,  43,
        75,  89, 128, 129, 131, 135, 136, 138, 161, 166, 173, 177, 179,
       204, 207, 236, 240, 242, 243, 244, 274, 275, 276, 277, 278, 279,
       280, 299, 300, 311, 313, 411, 426, 441, 443, 444, 445, 467, 468,
       472, 495, 498, 499,  78,  82,  83,  93,  96, 168, 180, 182, 183,
       190, 193, 209, 213, 259, 265, 268, 272, 284, 314, 341, 342, 360,
       361, 367, 402, 408, 412, 432, 434, 447, 449, 450, 459, 460, 477,
       488, 511, 527, 528, 536,  21,  22,  38,  44,  63, 538, 540,  84,
        95, 113, 170, 174, 200, 215, 228, 234, 287, 315, 317, 325, 327,
       363, 371, 372, 373, 374, 394, 404, 418, 422, 428, 437, 438, 457,
       458, 469, 481, 483, 493, 503, 506, 510, 526,   1,  16,  19,  30,
        55,  81,  90,  98, 178, 181, 191, 210, 220, 230, 237, 247, 253,
       256, 269, 281, 282, 283, 285, 286, 320, 328, 351, 368, 369, 375,
       379, 380, 389, 399, 421, 446, 464, 478, 514,   9,  10,  11,  12,
        23,  34,  45,  54,  64,  65,  66,  67,  68,  69,  70,  71,  72,
        97, 102, 105, 109, 111, 114, 116, 118, 121, 130, 163, 176, 184,
       189, 195, 197, 196, 202, 227, 231, 233, 239, 246, 257, 289, 290,
       291, 292, 293, 294, 295, 296, 297, 298, 301, 303, 324, 337, 386,
       442, 455, 470, 491, 492, 494, 507, 508, 509, 516, 517, 518, 519,
       531, 534, 535])

In [27]:
serving_labeled=food_label.fit_transform(serving)

In [28]:
serving_labeled

array([  3, 151, 329,   4,  10, 192, 175,  16, 330, 141, 191,  39, 128,
       334, 153,  43, 138, 140, 348, 118,  71,  50,  86,  53, 124, 137,
        13,  46, 132, 133,  56, 175, 134, 345, 117, 148, 149, 154, 139,
       172, 116, 292, 208, 175, 176, 185, 115, 193, 212, 215, 217, 152,
       230, 291,  15, 332, 211, 349, 354, 353, 228, 333, 362, 179,   1,
        98,   2,   5,   6,  65, 269,  67, 358,  42,  45,  54,  57, 119,
       121, 127, 101,  69, 130, 136,  69, 179, 157, 155, 156, 159, 163,
       164, 171,  64, 173, 175, 177, 131, 187, 189, 190, 129,  11, 205,
       206, 207, 209, 216,  66, 218,  62, 335, 336,  70, 342, 343, 357,
       268, 274, 105, 219,  85, 106, 214, 363, 145,  80,  36, 351, 226,
       232, 338, 277, 201, 196, 279, 104, 144, 288, 109, 143,  37, 197,
       366, 368, 199, 287, 125, 280, 282, 285, 294, 237, 239,  98, 102,
       146, 275, 273, 273,  87, 194, 158,  12, 270, 102, 370, 184, 104,
       257, 367, 236, 295,  44, 371, 251, 182, 380, 254, 313, 301, 233,
       222, 225, 195, 178, 364,  14, 281, 224, 224, 341, 271, 213,  83,
        72, 107,  84,  77,  74, 355,  61,  63,  78,  52, 347,  76,  73,
       178, 135,  81,  63,  64,  79, 114,  72,  68,  51, 377,  77, 229,
        68, 178, 379,  49,  79,  73,  75,  64, 350, 376, 110,  58, 352,
        75,  56,  60, 111, 344, 344, 344, 344, 344, 344, 344, 346, 344,
       344, 344, 344, 344, 344, 344, 344, 346, 344, 344, 344, 344, 344,
       344, 344, 344, 344, 344, 344, 344, 344, 346, 344, 344, 100, 103,
        93,  96,  89,  96,  38,  92,  97, 286, 286,  94,  96,  96, 100,
        96, 100,  95,  96, 283, 100,  96, 100,  96,  96,  97,  95, 100,
       272, 181, 100, 100,  97,  94,  96,  96,  95,  96, 104, 278,  97,
       181,  94,  82,  97,  99, 100,  96,  91,  94,  91,  97, 264, 266,
       261,  88, 265, 265,  90, 265, 262, 365, 167, 167,  77, 265,  47,
       265, 263,   9, 340,   7, 339, 260, 265, 162, 162, 162, 162, 161,
       162, 166, 167, 170, 265, 261, 265, 168,   8, 113, 327, 265, 339,
       265, 258,  48, 265, 374, 374, 374,  64,  58, 120, 374, 374, 108,
       374, 374, 374, 374, 293, 374, 374,  59, 374, 374, 374, 374, 374,
       374, 378, 374, 374, 374, 112, 374, 374, 374, 374,  55, 374, 374,
        58, 374, 374, 374, 374, 305, 308, 315, 312, 316, 297, 361, 323,
       320, 305, 300, 311, 298, 320, 303, 307, 320, 319, 317, 302, 296,
       321, 375, 309, 302, 223, 306, 325, 321, 322, 324, 326, 306, 319,
       319, 309, 331, 318, 304, 310, 310, 299, 314,   0, 190,   5,   6,
       372, 358, 356,  40, 122, 123, 126, 169, 369, 136, 356,  69, 147,
       150, 159, 160, 164, 290, 165,  41, 358, 180, 186, 205, 369, 206,
       209, 210, 183, 218, 259, 328, 337, 342, 357, 248, 254,  20,  20,
       220,  35, 247, 204,  30,  33, 256, 244,  28,  34,  31,  19,  32,
        22, 203, 245, 174, 200, 255, 242, 252, 202, 284, 267,  21, 227,
       188, 238, 282, 240, 289, 231, 239, 234, 142, 246, 198,  27, 235,
       174,  21, 238,  18,  23,  17, 242, 359, 242, 253, 373, 221, 276,
       179, 244, 249, 360, 179, 179,  25, 241, 250,  29,  24,  17,  26,
        31, 243, 243])

In [35]:
food_labeled_shaped=food_labeled.reshape(-1,1)

In [37]:
food_labeled_shaped.shape

(562, 1)

In [38]:
serving_labeled_shaped=serving_labeled.reshape(-1,1)

In [39]:
serving_labeled_shaped.shape

(562, 1)

In [40]:
x_labeled=np.hstack([food_labeled_shaped,serving_labeled_shaped])

In [42]:
x_labeled

array([[ 14,   3],
       [ 15, 151],
       [ 17, 329],
       ...,
       [531,  31],
       [534, 243],
       [535, 243]])

In [43]:
x_labeled.shape

(562, 2)

In [44]:
y=dataset['Calories']

In [45]:
y

0       60
1        1
2        2
3      115
4       35
      ...
557    290
558    700
559    672
560    517
561    517
Name: Calories, Length: 562, dtype: int64

In [15]:
""""  y_no=[]
for i in y:
    for j in {i}:
        #if (j=='c' or j=='a' or j=='l' or j==' '):
         if (j>=48 and j<=57):
                no=j;
      
         y_no=no;
            """

'"  y_no=[]\nfor i in y:\n    for j in {i}:\n        #if (j==\'c\' or j==\'a\' or j==\'l\' or j==\' \'):\n         if (j>=48 and j<=57):\n                no=j;\n      \n         y_no=no;\n            '

In [46]:
from sklearn.linear_model import LinearRegression

In [47]:
model=LinearRegression()

In [48]:
model.fit(x_labeled,y)

LinearRegression()

In [50]:
model.predict['Mango','1 mango (336 g)']

TypeError: 'method' object is not subscriptable